
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared items */
.secondary-bg{
    background-image: url(.//assets/Hero-bg.png);
}
.description{
    color:rgba(13, 19, 33, 0.7)
}
main{
    max-width: 1140px;
    margin:0 auto;
    background-color: rgba(13, 19, 33, 0.02);
}
.section-description{
    text-align:center;
}


/* banner styles */
.banner{
    height: 652px;
    
    
    
}
.banner-items{
    padding: 26px 221px 44px 221px ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    
    

    
}
.banner-title{
    font-size: 45px;
    font-weight: bolder;
}
.secondary-btn{
    height: 66px;
    width:266px;
    border-radius: 8px;
    border:none;
    background-color: rgba(13, 19, 33, 1.00);
    color:white;
    font-weight: 600;
    font-size: 20px;
    margin-top: 32px;
    


}

/* section web styles */
.web-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    

}
.web-column {
    
    max-width: 477px;
    
  

}

.web-development{
    padding: 80px 97px;
    margin-top: 118px;
}
.section-title{
    text-align: center;
}
.system-container{
    display: flex;
    justify-content: space-evenly;
    
}
.system-content{
    max-width: 477px;
}

.web-container-2{
    display: flex;
    justify-content: space-between;
    padding: 80px 97px;
}
.video-container{
    padding: 0 144px;

        }

.pg-video{
    width:100%;
    padding: 20px;
}







